:root {
--dark:  rgba(41, 39, 39, 0.996);
--light: #549354;
--text: rgb(118, 190, 131);
--link: rgb(0, 0, 0);
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--dark);
    color: var(--text);
    box-sizing: border-box;
}

header {
    display: flex;
    background: var(--dark);
    text-align: center;
    color:black;
    padding: 5px;
    list-style-type: none;
}
h1 {
    box-align: left;
    padding: 5px;
    font-size: 24px;
    color: var(--text);
    display: flex;
    justify-content: flex-start;

}


.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

 }

 .avatar {
    display: flex;
    height: 75px;
    width: 75px;
    max-height: 25%;
    max-width: 25%;
    margin: auto;
    border-radius: 50%;
}

li { 
    display: inline;
    list-style: none;
    text-decoration: none;   
}

a:hover {
    background-color: var(--link);
}

.burgercard:hover {
    background-color: var(--link);
}

.card:hover {
    background-color: var(--link);
}

 .hero-image {
    /* display: flex; */
    width: 100%;
    height: auto;
 }

.welcome {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: var(--dark);
    color: var(--text);
    padding-left: 20px;
    padding-right: 20px;
}

.project-container {
    display: flex;
    max-width: 80%;
    flex-wrap:wrap;
   

 }
.project-card-main {
    flex-grow: 2;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
}

 .project-card {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    height: auto;
    max-width: auto;
    min-width: 100px;
    min-height: 100px;

 }

.burgercard {
    display: flex;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    flex-grow: 2;
}

.card {
    display: flex;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    flex-grow: 1;
}

.burgercard {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 20px;
    text-align: center;
    border-style: solid;
    border-width: 0px;
}
.burgercard {
    display: flex;
    position: relative;
    text-align: center;
    color: var(--text);
    width: 100%;
    height: auto;
}

.burgercard header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  
  .burgercard img {
    width: 100%;
    min-width: 400px;
  }

.card {
    flex: 1 0 0;
    padding: 20px 0 0 20px;
    text-align: center;
    border-style: solid;
    border-width: 0px;
    
  }
  
  .card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  
  .card img {
    width: 100%;
    min-width: 400px;
  }

.myRow {
   display: flex;
    flex-direction: row;

}

.left-column {
    display: flex;
    width: 20%;
    justify-content: right;
    padding-right: 10px;
    border-style: solid;
    border-width: 0 3px 0 0;
   

}

.right-column {
    display: flex;
    width: 80%;
    padding-left: 10px;
    flex-flow: row wrap;
}

.card {
    position: relative;
    text-align: center;
    color: var(--text);
}
h3 {
    position: absolute;
    bottom: 5%;
    left: 3.4%;
    font-size: 30px
}

h5 {
    position: absolute;
    bottom: 5%;
    left: 11.5%;
    font-size: 30px;
}

    nav ul {
    list-style: none;
    margin: auto 30px;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

  nav li {
    list-style: none;
    margin: 20px 30px;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

@media screen and (max-width: 992px) {
    .projectcard {
      width: 40%;
      min-width: 100px;
      min-height: 100px;
    }
   
  }
  
  /* Cards are stacked on top of each other at 768px or smaller */
   @media screen and (max-width: 768px) {
    .projectcard {
      width: 100%;
      min-width: 100px;
      min-height: 100px;
    }
  
  }

